{
  "presets": [
    ["@babel/preset-react", { "flow": false, "typescript": true, "loose": true}],
    ["@babel/preset-typescript", { "loose": true }],
    ["@babel/preset-env", { "loose": true }]
  ],
  "plugins": [
      ["@babel/transform-react-jsx", { "loose": true }],
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose" : true }],
      ["@babel/proposal-object-rest-spread", { "loose": true }]
  ]
}

// IF Changed needs to add to the `packages/storybook/.storybook/main.js` file
